.inner {
  width: 1720px;
  margin: auto;
  padding-top: 120px;
  padding-bottom: 100px;
}
h2 {
  font-family: "Libre Bodoni", serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 32px;
}

// sec-info
.parallax-item {
  position: relative;
  width: 100%;
  height: 100vh;
  color: $white;
  background: no-repeat center / cover;

  .sec-info-tit {
    position: absolute;
    top: 120px;
    left: 180px;
    h2 {
      font-family: 'Pretendard', sans-serif;
      font-weight: 600;
    }
  }
  .sec-info-tit+p {
    position: absolute;
    bottom: 100px;
    font-size: 20px;
    word-break: keep-all;
  }
}
.under-line {
  display: block;
  width: 64px;
  height: 2px;
  background: $white;
}

// footer
#footer {
  background: #222;
  color: $gray-30;
  font-weight: 300;
  .f-inner {
    width: 1460px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 40px;
  }
  a {
    color: $gray-30;
    font-weight: 300;
  }
  .f-top {
    display: flex;
    justify-content: space-between;
    .fnb-wrap {
      display: flex;
      gap: 140px;
      a {
        color: $gray-30;
        display: block;
        margin-bottom: 12px;
      }
      h3 {
        font-weight: 400;
        margin-bottom: 20px;
      }
    }
  }
}