.inner {
  width: 1720px;
  margin: auto;
  padding-top: 120px;
  padding-bottom: 100px;
}
h2 {
  font-family: "Libre Bodoni", serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 32px;
}

// sec-info
.sec-info-item {
  position: relative;
  width: 100%;
  height: 100vh;
  color: $white;
  background: no-repeat center / cover;

  .sec-info-tit {
    position: absolute;
    top: 120px;
    left: 180px;
    h2 {
      font-family: 'SUIT', sans-serif;
      font-weight: 600;
    }
  }
  .sec-info-tit+p {
    position: absolute;
    bottom: 100px;
    font-size: 20px;
    word-break: keep-all;
  }
}
.under-line {
  display: block;
  width: 64px;
  height: 2px;
  background: $white;
}