.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.reserve {
  position: absolute;
  bottom: 140px;
  left: 50%;
  display: flex;
  align-items: center;
  gap: 80px;
  transform: translateX(-50%);
  width: 997px;
  color: $white;
  .line {
    display: inline-block;
      width: 1px;
      height: 70px;
      background: rgba(255, 255, 255, 0.4);
    }
  h4 {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  strong {
    font-size: 20px;
    font-weight: 500;
  }
  .count {
    display: flex;
    gap: 48px;
    text-align: center;
  }
  .btn-reserve-search {
    padding: 16px 60px;
    background: $white;
    font-size: 20px;
    font-weight: 500;
  }
}

// main
.sec-promo {
  display: flex;
}
.sec-promo-left {
  width: 50%;
  overflow: hidden;
}
.sec-promo-right {
  width: 50%;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .img-wrap {
    width: 412px;
    height: 412px;
  }
  .swiper-scrollbar {
    position: static;
    margin-top: 72px;
  }
}
.swiper-slide {
  p {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 8px;
  }
  strong {
    font-size: 14px;
    color: #777;
  }
}

.sec-rooms {
  padding: 120px 100px;
  h2 {
    text-align: center;
  }
  .cont-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px; // 필요한 경우 .big-img와 .pagination 사이의 간격을 조정
  }
  .big-img {
    position: relative;
    width: 1429px;
    height: 766px;
    border-radius: 10px;
    overflow: hidden;
    .gradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 61.25%);
      opacity: 0.5;

    }
  }
  .txt-wrap {
    position: absolute;
    top: 100px;
    left: 80px;
    color: $white;
    h3 {
      font-size: 32px;
      line-height: 1.3;
      font-weight: 500;
      margin-bottom: 16px;
    }
    p {
      width: 300px;
      margin-bottom: 32px;
    }
  }
  .pagination {
    height: 766px;
    display: flex;
    flex-direction: column;
    // gap: 24px;
    justify-content: space-between;
    li {
      position: relative;
      width: 267px;
      height: 120px;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      overflow: hidden;
      &.active {
        height: 180px;
        .dimmed {
          opacity: 0;
        }
        img {
          height: 100%;
        }
      }
    }
    .dimmed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

    background: rgba(0, 0, 0, 0.3);

    }
    img {
      width: 100%;
    }
  }
}

.sec-info {
  width: 100%;
  .sec-info-item1 {
    background-image: url(../images/info_bg1.png);
    @include flexCenter;
    .txt-wrap {
      text-align: center;
      width: 720px;
      color: $white;
      h2 {
        margin-bottom: 4px;
      }
      strong {
        font-size: 1.5rem;
      }
      .under-line {
        margin: 32px auto;
      }
      p {
        font-size: 1.125rem;
      }
    }
  }
  .sec-info-item2 {
    background-image: url(../images/info_bg2.png);
    p {
      right: 124px;
      width: 680px;
    }
  }
  .sec-info-item3 {
    background-image: url(../images/info_bg3.png);
    p {
      right: 140px;
      width: 664px;
    }
  }
  .sec-info-item4 {
    background-image: url(../images/info_bg4.png);
    p {
      right: 166px;
      width: 640px;
    }
  }
  .sec-info-item5 {
    background-image: url(../images/info_bg5.png);
    p {
      right: 136px;
      width: 666px;
    }
  }
}

.sec-facil {
  position: relative;
  padding-top: 120px;
  padding-bottom: 100px;
  .inner {
    padding: 0;
    margin-bottom: 32px;
    h2 {
      margin-bottom: 0;
    }
  }
  .item {
    position: relative;
    width: calc(100% / 4);
    height: 600px;
    h3 {
      position: absolute;
      bottom: 40px;
      left: 48px;
      font-size: 24px;
      color: $white;
    }
  }
  .item1 {background-image: url(../images/facil_bg1.png);}
  .item2 {background-image: url(../images/facil_bg2.png);}
  .item3 {background-image: url(../images/facil_bg3.png);}
  .item4 {background-image: url(../images/facil_bg4.png);}
  .item5 {background-image: url(../images/facil_bg5.png);}
  .item6 {background-image: url(../images/facil_bg6.png);}
  .item7 {background-image: url(../images/facil_bg7.png);}
  .item8 {background-image: url(../images/facil_bg8.png);}

  .slide-btns {
    position: absolute;
    top: 132px;
    right: 100px;
    display: flex;
    gap: 16px;
  }
  .slide-btns button {
    cursor: pointer;
  }
  .slide-btns button:hover svg {
    fill: #222;
  }
  .slide-btns button:hover path {
    stroke: #fff;
  }
  .slide-btns .disable {
    opacity: 0.3;
    cursor: auto;
  }
  .slide-btns button:hover.disable svg {
    fill: transparent;
  }
  .slide-btns button:hover.disable path {
    stroke: #222;
  }
}

// sec-insta
.sec-insta {
  .inner {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    padding: 0;
    padding-top: 120px;
    padding-bottom: 180px;
  }
  .item {
    width: 429px;
    height: 429px;
    // border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }
  .item.blank {
    border: none;
  }
  .item1 {background-image: url(../images/insta_bg1.png);}
  .item2 {}
  .item3 {background-image: url(../images/insta_bg2.png);}
  .item4 {background-image: url(../images/insta_bg3.png);}
  .item5 {
    h2 {
      margin-top: 44px;
      margin-bottom: 12px;
    }
    p {
      width: 368px;
    }
  }
  .item6 {background-image: url(../images/insta_bg4.png);}
  .item7 {}
  .item8 {background-image: url(../images/insta_bg5.png);}
}