@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  padding: 0;
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

/* 기본 폰트 설정 */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard", sans-serif;
  color: #1d1d1d;
  font-weight: 400;
}

/* desktop */
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #1d1d1d;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

.inner {
  width: 1720px;
  margin: auto;
  padding-top: 120px;
  padding-bottom: 100px;
}

h2 {
  font-family: "Libre Bodoni", serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 32px;
}

.parallax-item {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
  background: no-repeat center/cover;
}
.parallax-item .sec-info-tit {
  position: absolute;
  top: 120px;
  left: 180px;
}
.parallax-item .sec-info-tit h2 {
  font-family: "Pretendard", sans-serif;
  font-weight: 600;
}
.parallax-item .sec-info-tit + p {
  position: absolute;
  bottom: 100px;
  font-size: 20px;
  word-break: keep-all;
}

.under-line {
  display: block;
  width: 64px;
  height: 2px;
  background: #fff;
}

#footer {
  background: #222;
  color: #d8d8d8;
  font-weight: 300;
}
#footer .f-inner {
  width: 1460px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 40px;
}
#footer a {
  color: #d8d8d8;
  font-weight: 300;
}
#footer .f-top {
  display: flex;
  justify-content: space-between;
}
#footer .f-top .fnb-wrap {
  display: flex;
  gap: 140px;
}
#footer .f-top .fnb-wrap a {
  color: #d8d8d8;
  display: block;
  margin-bottom: 12px;
}
#footer .f-top .fnb-wrap h3 {
  font-weight: 400;
  margin-bottom: 20px;
}

.hero video {
  width: 100%;
}

.sec-promo {
  display: flex;
}

.sec-promo-left {
  width: 50%;
  overflow: hidden;
}

.sec-promo-right {
  width: 50%;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sec-promo-right .img-wrap {
  width: 412px;
  height: 412px;
}
.sec-promo-right .swiper-scrollbar {
  position: static;
  margin-top: 72px;
}

.swiper-slide p {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 8px;
}
.swiper-slide strong {
  font-size: 14px;
  color: #777;
}

.sec-rooms {
  padding: 120px 100px;
}
.sec-rooms h2 {
  text-align: center;
}
.sec-rooms .cont-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.sec-rooms .big-img {
  position: relative;
  width: 1429px;
  height: 766px;
  border-radius: 10px;
  overflow: hidden;
}
.sec-rooms .big-img .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 61.25%);
  opacity: 0.5;
}
.sec-rooms .txt-wrap {
  position: absolute;
  top: 100px;
  left: 80px;
  color: #fff;
}
.sec-rooms .txt-wrap h3 {
  font-size: 32px;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 16px;
}
.sec-rooms .txt-wrap p {
  width: 300px;
  margin-bottom: 32px;
}
.sec-rooms .pagination {
  height: 766px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec-rooms .pagination li {
  position: relative;
  width: 267px;
  height: 120px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  overflow: hidden;
}
.sec-rooms .pagination li.active {
  height: 180px;
}
.sec-rooms .pagination li.active .dimmed {
  opacity: 0;
}
.sec-rooms .pagination li.active img {
  height: 100%;
}
.sec-rooms .pagination .dimmed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.sec-rooms .pagination img {
  width: 100%;
}

.sec-info {
  width: 100%;
}
.sec-info .sec-info-item1 {
  background-image: url(../images/info_bg1.png);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-info .sec-info-item1 .txt-wrap {
  text-align: center;
  width: 720px;
  color: #fff;
}
.sec-info .sec-info-item1 .txt-wrap h2 {
  margin-bottom: 4px;
}
.sec-info .sec-info-item1 .txt-wrap strong {
  font-size: 1.5rem;
}
.sec-info .sec-info-item1 .txt-wrap .under-line {
  margin: 32px auto;
}
.sec-info .sec-info-item1 .txt-wrap p {
  font-size: 1.125rem;
}
.sec-info .sec-info-item2 {
  background-image: url(../images/info_bg2.png);
}
.sec-info .sec-info-item2 p {
  right: 124px;
  width: 680px;
}
.sec-info .sec-info-item3 {
  background-image: url(../images/info_bg3.png);
}
.sec-info .sec-info-item3 p {
  right: 140px;
  width: 664px;
}
.sec-info .sec-info-item4 {
  background-image: url(../images/info_bg4.png);
}
.sec-info .sec-info-item4 p {
  right: 166px;
  width: 640px;
}
.sec-info .sec-info-item5 {
  background-image: url(../images/info_bg5.png);
}
.sec-info .sec-info-item5 p {
  right: 136px;
  width: 666px;
}

.sec-facil {
  position: relative;
  padding-top: 120px;
  padding-bottom: 100px;
}
.sec-facil .inner {
  padding: 0;
  margin-bottom: 32px;
}
.sec-facil .inner h2 {
  margin-bottom: 0;
}
.sec-facil .item {
  position: relative;
  width: 25%;
  height: 600px;
}
.sec-facil .item h3 {
  position: absolute;
  bottom: 40px;
  left: 48px;
  font-size: 24px;
  color: #fff;
}
.sec-facil .item1 {
  background-image: url(../images/facil_bg1.png);
}
.sec-facil .item2 {
  background-image: url(../images/facil_bg2.png);
}
.sec-facil .item3 {
  background-image: url(../images/facil_bg3.png);
}
.sec-facil .item4 {
  background-image: url(../images/facil_bg4.png);
}
.sec-facil .item5 {
  background-image: url(../images/facil_bg5.png);
}
.sec-facil .item6 {
  background-image: url(../images/facil_bg6.png);
}
.sec-facil .item7 {
  background-image: url(../images/facil_bg7.png);
}
.sec-facil .item8 {
  background-image: url(../images/facil_bg8.png);
}
.sec-facil .slide-btns {
  position: absolute;
  top: 132px;
  right: 100px;
  display: flex;
  gap: 16px;
}
.sec-facil .slide-btns button {
  cursor: pointer;
}
.sec-facil .slide-btns button:hover svg {
  fill: #222;
}
.sec-facil .slide-btns button:hover path {
  stroke: #fff;
}
.sec-facil .slide-btns .disable {
  opacity: 0.3;
  cursor: auto;
}
.sec-facil .slide-btns button:hover.disable svg {
  fill: transparent;
}
.sec-facil .slide-btns button:hover.disable path {
  stroke: #222;
}

.sec-insta .inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  padding: 0;
  padding-top: 120px;
  padding-bottom: 180px;
}
.sec-insta .item {
  width: 429px;
  height: 429px;
  border-radius: 10px;
}
.sec-insta .item.blank {
  border: none;
}
.sec-insta .item1 {
  background-image: url(../images/insta_bg1.png);
}
.sec-insta .item3 {
  background-image: url(../images/insta_bg2.png);
}
.sec-insta .item4 {
  background-image: url(../images/insta_bg3.png);
}
.sec-insta .item5 h2 {
  margin-top: 44px;
  margin-bottom: 12px;
}
.sec-insta .item5 p {
  width: 368px;
}
.sec-insta .item6 {
  background-image: url(../images/insta_bg4.png);
}
.sec-insta .item8 {
  background-image: url(../images/insta_bg5.png);
}/*# sourceMappingURL=styles.css.map */